<style>
form
{
background-color: #EEE;
}

.button{
background: orange;
border: solid 1px gray;
border-radius: 3px;
color: white;
//opacity: 75%;
padding: 2px;
text-align: center;
width: 60px;
float: left;
margin-left: 7px;
cursor: pointer; 
cursor: hand;
}

.button:hover{
background: red;
}

table
{
border-collapse:collapse;
width: 500px;
}
table
{
border: 1px solid gray;
}
th, td
{
padding: 5px;
}
th
{
background-color: orange;
color: white;
}
tr
{
background-color: white;
} 
tr:nth-child(odd)
{
background-color: #EEE;
}
.adddiv
{
padding: 5px;
}
input, textarea
{
font-family: "Calibri";
font-size: medium;
}  
</style>
